.page-loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  z-index: 9999;
}
.pageImgContainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.imageAnimation {
  width: 100px;
  height: 100px;
  animation: 1s ease-in-out infinite spinner5;
}
.pageImgContainer img {
  width: 100%;
  height: 700px;
  max-width: 300px;
}
@media screen and (max-width: 767px) {
  .pageImgContainer img {
    height: 500px;
  }
}
@keyframes spinner5 {
  0%,
  from {
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    animation-timing-function: ease;
  }
  13% {
    -moz-transform: rotateY(45deg);
    -ms-transform: rotateY(45deg);
    transform: rotateY(45deg);
    animation-timing-function: ease;
  }
  26% {
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg);
    animation-timing-function: ease;
  }
  39% {
    -moz-transform: rotateY(135deg);
    -ms-transform: rotateY(135deg);
    transform: rotateY(135deg);
    animation-timing-function: ease;
  }
  52% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    animation-timing-function: ease;
  }
  65% {
    -moz-transform: rotateY(225deg);
    -ms-transform: rotateY(225deg);
    transform: rotateY(225deg);
    animation-timing-function: ease;
  }
  78% {
    -moz-transform: rotateY(270deg);
    -ms-transform: rotateY(270deg);
    transform: rotateY(270deg);
    animation-timing-function: ease;
  }
  91% {
    -moz-transform: rotateY(315deg);
    -ms-transform: rotateY(315deg);
    transform: rotateY(315deg);
    animation-timing-function: ease;
  }
  100%,
  to {
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
    animation-timing-function: ease;
  }
}
